__pycache__

# chromadb
chroma_ingredients/
chroma_db/
cosmetic_chromadb/
ingredient_chromadb/
merged_model/
# env file
.env

## qlora model
qlora_model_Bllossom
qlora_model_mistral

# data
*.csv
*.txtmerged_model/
qlora_model_koalpaca/
qlora_model_mistral1/
